     <div class="interactive-wrapper">

    <article>

        <div id="progress-bar">

            <div id="progressBar"></div>
            
        </div>

        <div id="app"></div>

        <div class="blocks">

            <div class="block top" style="margin-top:50px;margin-bottom:40vh;"  data-id="0">

                <div class="block-placeholder" data-id="0">
                    
                    <div class="header-wrapper">

                        <div class="interactive-header-wrapper">

                            <div class="int-tag">The frontline</div>

                            <div class="headline-wrapper"><h1>Inside Australia's climate emergency: the new fire zone</h1></div>

                            <p class="standfirst"><span>This fire season, areas of Australia have burnt that used to be too wet to burn</span></p>
                        
                            <div id="audio-prompt-container" class="sound-off">

                                <div class="audio-prompt">This feature is best experienced with sound. <strong><span></span></strong> </div>

                            </div>

                            <div id="start-playing-video">

                                <div class="start-prompt">Click to play</div>

                                <div class="manual video_pause"></div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <div class="block" style="margin-top:40vh;margin-bottom:40vh;"  data-id="1">

                <div class="block-inner"></div>

                <div class="block-placeholder" data-id="1"></div>

            </div>

            <div class="block text" style="margin-top:40vh;margin-bottom:40vh;"  data-id="2">

                <div class="block-inner">
                    
                    <div class="text">

                        <p class="body">Binna Burra Lodge in the Gold Coast hinterland was 81-year-old Tony Groom’s life. His father founded the mountain hiking retreat in the 1930s, Tony ran it in the 60s and 70s, and his daughter, Lisa, 52, grew up there.</p>

                        <p class="body">The lodge’s wooden cabins, bordered by rainforest on one side and eucalypts on the other, were a touchstone for people’s lives: for weddings, wakes and walks around the ancient world heritage forests of Lamington national park.</p>

                        <p class="body">Next door, Tony and his late wife, Connie, lived for almost 40 years in Alcheringa, a stone-walled house with a deck where Lisa and her brother would dangle their feet out over the Coomera Valley</p>

                        <p class="body">On the morning of 8 September 2019 the lodge, the heritage-listed cabins and the Grooms’ family homestead were razed to the ground by a bushfire. About 450 hectares of rainforest burned around Binna Burra that day – the kind of lush forest that doesn’t usually burn.</p>

                        <div class="skip-btn-container">
                            <div class="skip-btn" data-id="2">
                                <span></span>
                            </div>
                        </div>

                    </div>
                    
                </div>

                <div class="block-placeholder" data-id="2"></div>

            </div>

            <div class="block" style="margin-top:100vh;margin-bottom:40vh;"  data-id="3">

                <div class="block-placeholder" data-id="3"></div>

            </div>

            <div class="block text" style="margin-top:40vh;margin-bottom:40vh;"  data-id="4">

                <div class="block-inner">
                    
                    <div class="text">

                        <p class="body">Firefighters use the forest fire danger index to tell them how bad conditions are. The index combines the key ingredients that influence a bushfire – temperature, wind speed, humidity and the dryness of the “fuel”, including grasses and fallen wood from trees.</p>

                        <p class="body">Human-caused climate change has pushed the index higher in recent decades. The trends show not only that conditions are becoming more dangerous, but that the fire season is starting earlier.</p>

                        <p class="body">Australia’s spring months are September, October and November. The spring of 2019 was the worst year on record for high-risk bushfire weather in south-east Queensland, and for the entire country.</p>

                        <p class="body">The conditions that helped a fire take hold at Sarabah, north-west of Binna Burra, had been building since the beginning of the year.</p>

                        <p class="body">Rainfall was well below average, the ground was unusually dry and, in the days before the fire struck, daytime maximum temperatures were at near-record levels after months of hotter-than-average weather.</p>

                        <p class="body">Then came the winds.</p>

                        <div class="skip-btn-container">
                            <div class="skip-btn" data-id="4">
                                <span></span>
                            </div>
                        </div>


                    </div>
                    
                </div>

                <div class="block-placeholder" data-id="4"></div>

            </div>

            <div class="block" style="margin-top:100vh;margin-bottom:40vh;"  data-id="5">

                <div class="block-placeholder" data-id="5"></div>

            </div>

            <div class="block text" style="margin-top:40vh;margin-bottom:40vh;"  data-id="6">

                <div class="block-inner">
                    
                    <div class="text">

                        <p class="body">Many factors influence a fire and its impact but scientists are clear that human-caused climate change has already made things worse.</p>

                        <p class="body">“At this point, the science is quite clear,”  says Dr Karl Braganza, head of climate monitoring at the Bureau of Meteorology. “As we add greenhouse gases to the atmosphere, the models show more severe bushfire conditions for Australia.”</p>

                        <p class="body">Australia’s devastating fire season of 2019 and 2020 has so far burned through more than <a href="https://www.theguardian.com/australia-news/datablog/ng-interactive/2019/dec/07/how-big-are-the-fires-burning-on-the-east-coast-of-australia-interactive-map">7.7 million hectares in the south-eastern states</a>, claiming 33 lives and almost 3,000 homes. Firefighters have never experienced anything like it.</p>

                        <p class="body">Neither has Australia. 2019 was the hottest and driest year on record.</p>

                        <div class="skip-btn-container">
                            <div class="skip-btn" data-id="6">
                                <span></span>
                            </div>
                        </div>


                    </div>

                </div>

                <div class="block-placeholder" data-id="6"></div>

            </div>

            <div class="block" style="margin-top:100vh;margin-bottom:40vh;"  data-id="7">

                <div class="block-placeholder" data-id="7"></div>

            </div>

            <div class="block text" style="margin-top:40vh;"  data-id="8">

                <div class="block-inner">
                    
                    <div class="text">

                        <p class="body">The kind of conditions that have delivered devastating and deadly major bushfires in the recent past are going to increase, according to Dr Richard Thornton, the chief executive of the Bushfire and Natural Hazards Cooperative Research Centre.</p>

                        <p class="body">“People tend to base their risk perception on what they’ve experienced before – a bushfire every 50 or 100 years,” Thornton says. “Their risk perception is based on history. But history is not a good predictor of the future.</p>

                        <p class="body">“Those days will become more regular and the time between them will become less. But it’s the extremes that cause the damage. Climate change makes the extremes worse.”</p>

                        <p class="body">Tony and Lisa have travelled the world. They run a tour company, giving guided walks across glaciers that are now receding and in national parks with increasingly unpredictable seasons.</p>

                        <p class="body">“I’ve been watching it happen all my life,” Tony says. “I thought climate change was happening to the world but not to me."</p>

                        <p class="body">As for the home at Alcheringa, and Binna Burra Lodge, there are plans to rebuild in a way that will minimise damage from future fires. But they know the future will be different.</p>

                    </div>  

                    </div>


                </div>

                <div class="block-placeholder" data-id="8"></div>

            </div>

        </div>

    </article>

</div>